body {
    background-color: rgb(200, 196, 196);
    font-family: 'Indie Flower';
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    border: 2px double rgb(216, 159, 36);
    background-color: rgb(118, 118, 118);
    padding: 0.4em;
}

.task {
    width: 248px;
    height: 203px;
    margin: 20px;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: larger;
    font-weight: bolder;
}

h2 p {
    line-height: 2em;
}

.uno {
    background-color: rgb(192, 192, 110);
    transform: rotate(10deg);
    transition: transform 3s;
}

.due {
    background-color: rgb(128, 198, 128);
    transform: rotate(-15deg);
    transition: transform 3s;
}

.tre {
    background-color: rgb(128, 198, 128);
    transform: rotate(-8deg);
    transition: transform 3s;
}

.quattro {
    background-color: rgb(155, 112, 155);
    transform: rotate(5deg);
    transition: transform 3s;
}

.cinque {
    background-color: rgb(192, 192, 110);
    transform: rotate(-4deg);
    transition: transform 3s;
}

.sei {
    background-color: rgb(155, 112, 155);
    transform: rotate(4deg);
    transition: transform 3s;
}

.sette {
    background-color: rgb(192, 192, 110);
    transform: rotate(16deg);
    transition: transform 3s;
}

.otto {
    background-color: rgb(128, 198, 128);
    transform: rotate(10deg);
    transition: transform 3s;
}


/* hover */

.task:hover {
    width: 248px;
    height: 203px;
    margin: 20px;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.uno:hover {
    background-color: rgb(192, 192, 110);
    transform: scale(1.2) rotate(-15deg) translate(-10px);
    cursor: pointer;
}

.due:hover {
    background-color: rgb(128, 198, 128);
    transform: scale(1.2) rotate(15deg) translate(-3px);
    cursor: pointer;
}

.tre:hover {
    background-color: rgb(128, 198, 128);
    transform: scale(1.2) rotate(-5deg) translate(-4px);
    cursor: pointer;
}

.quattro:hover {
    background-color: rgb(155, 112, 155);
    transform: scale(1.2) rotate(-15deg) translate(-14px);
    cursor: pointer;
}

.cinque:hover {
    background-color: rgb(192, 192, 110);
    transform: scale(1.2) rotate(20deg) translate(10px);
    cursor: pointer;
}

.sei:hover {
    background-color: rgb(155, 112, 155);
    transform: scale(1.2) rotate(-8deg) translate(-10px);
    cursor: pointer;
}

.sette:hover {
    background-color: rgb(192, 192, 110);
    transform: scale(1.2) rotate(-5deg) translate(-4px);
    cursor: pointer;
}

.otto:hover {
    background-color: rgb(128, 198, 128);
    transform: scale(1.2) rotate(-9deg) translate(-14px);
    cursor: pointer;
}

